.WarningPageBackGround{
	height: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WarningBtnContainer{
	height: 80%;
	padding-top: 20%;
}

.WarningHeader{
	height: 8%;
	width: 100%;
	background-color: #E6E1EF;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 8%;
	position: fixed;
	top: 0%;
}

.WarningPageLargeTextSet{
	display: flex;
	flex-direction: column;
	margin-top: 55%;
	align-items: center;
}

.WarningPageLargeText{
	text-align: center;
	color: #3C1A7D;
  font-weight: bold;
}

.WarningButton{
	background-color: #3C1A7D;
	border-color: #3C1A7D;
	font-weight: bold;
	font-size: 1.5rem;
	width: 70%;
	margin-top: 8%;
}

.WarningButton:hover{
	background-color: #3C1A7D;
}