.ChatLog{
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	height: 75%;
}

.ChattingHeader{
	height: 8%;
	width: 100%;
	background-color: #E6E1EF;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
}

.AiChat{
	width: 95%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2%;
}

.AiChatBox{
	margin-left: 3%;
}

.AiName{
	font-weight: bold;
	font-size: 1em;
}

.AiText{
	font-size: 0.8em;
	font-weight: 600;
	padding: 0.5em;
	border-radius: 10px;
	background-color: #E6E1EF;
}

.UserChat{
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 2%;
}

.UserText{
	font-size: 0.8em;
	font-weight: 600;
	padding: 0.5em;
	border-radius: 10px;
	background-color: #E7D8E9;
}

.InputBox{
	width: 95%;
	height: 100%;
	background-color: #E6E1EF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 0 5% 0 5%;
}

.InputBoxText{
	color: #808080;
	font-size: 1.1em;
	width: 100%;
	border: 0;
	background-color: #E6E1EF;
}