.ToggleContainer{
	position: relative;
  cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 45%;
	height: 60%;
	margin-left: 35%;
	margin-right: 5%;
}

.ToggleBox{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.smallBox{
	width: 45%;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	color: #808080;
}

.smallBox2{
	width: 45%;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
	color: #808080;
	padding-left: 6%;
}

.toggle-container {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background-color: #D5CDE2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.toggle--checked {
	background-color: #D5CDE2;
	transition : 0.5s
}

.toggle-circle {
	position: absolute;
	top: 1pxs;
	left: 0%;
	width: 40%;
	height: 100%;
	border-radius: 30px;
	background-color: rgb(255,254,255);
	transition : 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 120%;
}
.toggle--checked {
	left: 35%;
	transition : 0.5s
}

.OFF{
	width: 20%;
}
.ON{
	width: 20%;
}